.mov-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 30px;
  margin: 0;
  background: #00baf2;
  font-family: 'Arial', sans-serif;
  overflow: hidden; 
  justify-content: center; 
  align-items: center; 
}

.mov-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px; 
}

.mov-logo-img {
  max-height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.mov-form-wrapper {
  flex: 2; 
  padding: 20px 30px; 
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 80px;
}

.mov-title {
  font-size: 22px;
  color: #333;
  text-align: center;
  margin-bottom: 8px; 
  font-weight: 600;
}

.mov-form-group {
  margin-bottom: 7px; 
}

.mov-label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.mov-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.mov-input:focus {
  border-color: #66ccff;
  outline: none;
}


.mov-form-group select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.mov-form-group select:focus {
  border-color: #66ccff;
  outline: none;
}

.mov-submit-btn {
  width: 100%;
  padding: 12px 18px;
  background: #66ccff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.mov-submit-btn:hover {
  background: #4ba8e1;
}


@media (max-width: 768px) {
  .mov-container {
    flex-direction: column; 
    padding: 20px;
  }

  .mov-logo-img {
    max-height: 150px;
  }

  .mov-form-wrapper {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }

  .mov-title {
    font-size: 20px;
  }

  .mov-input,
  .mov-form-group select {
    font-size: 14px;
  }

  .mov-submit-btn {
    padding: 12px;
  }
}

